* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*----Nawigation-----*/

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    text-align: center;
}

#nav-bar ul li a:hover {
    color: #6e8968!important;
}

.navbar {
    background: #323232!important;
    /* height: 100px; */
}

.navbar-toggler {
    border: none!important;
}

.nav-link {
    color: #f6f0f0!important;
    font-weight: 600;
    font-size: 16px;
}

.nav-item img {
    height: 50px;
    width: 50px;
}

nav.navbar .navbar-nav li.nav-item.active:after {
    content: "";
    position: absolute;
    margin-left: -19px;
    left: 50%;
    top: 92px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #323232;
    display: inline-block;
    transform: rotate(540deg);
    height: 30px;
    width: 30px;
}

.nav-link {
    margin-top: 10px;
}

.first-line {
    position: absolute;
    top: 85px;
    width: 100%;
}


/* Gallery */

.grid {
    margin-top: 80px;
}

#hexGrid {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    list-style-type: none;
}

.hex {
    position: relative;
    visibility: hidden;
    transition: all 0.5s;
    backface-visibility: hidden;
    transition: all 0.5s;
}

.hex::after {
    content: '';
    display: block;
    padding-bottom: 86.602%;
}

.hexIn {
    position: absolute;
    width: 96%;
    padding-bottom: 110.851%;
    margin: 2%;
    overflow: hidden;
    visibility: hidden;
    transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    transition: all 0.5s;
}

.hexIn * {
    position: absolute;
    visibility: visible;
}

.hexLink {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}

.hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.hex h1,
.hex p {
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    font-weight: 300;
    opacity: 0;
}

#title {
    color: #F5CE95;
    text-transform: capitalize;
    text-align: center;
    bottom: 50%;
    padding-top: 50%;
    z-index: 1;
}

.hex h1:before,
.hex h1:after {
    display: inline-block;
    height: 0.03em;
    background: #ffffff;
    content: '';
    vertical-align: middle;
    transition: all 0.3s;
    text-align: center;
}

.img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.img:before,
.img:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: 0;
    transition: opacity 0.5s;
}

.img:before {
    background: rgba(22, 103, 137, 0.3)
}

.img:after {
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5), transparent);
}

.hexLink:hover h1,
.hexLink:focus h1,
.hexLink:hover p,
.hexLink:focus p {
    opacity: 1;
    transition: 0.8s;
}

.hexIn:hover .img:before,
.hexIn:hover .img:after,
.hexIn:hover .hexLink {
    opacity: 1;
}

@media (min-width:1201px) {
    #hexGrid {
        padding-bottom: 4.4%
    }
    .hex {
        width: 20%;
    }
    .hex:nth-child(9n+6) {
        margin-left: 10%;
    }
}

@media (max-width: 1200px) and (min-width:901px) {
    #hexGrid {
        padding-bottom: 5.5%;
        font-size: 13px;
    }
    .hex {
        width: 25%;
    }
    .hex:nth-child(7n+5) {
        margin-left: 12.5%;
    }
}

@media (max-width: 900px) and (min-width:601px) {
    #hexGrid {
        padding-bottom: 7.4%;
        font-size: 14px;
    }
    .hex {
        width: 33.333%;
    }
    .hex:nth-child(5n+4) {
        margin-left: 16.666%;
    }
}

@media (max-width: 600px) {
    #hexGrid {
        padding-bottom: 11.2%;
        font-size: 12px;
    }
    .hex {
        width: 50%;
    }
    .hex:nth-child(3n+3) {
        margin-left: 25%;
    }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 8px;
    }
}


/* About */

#about {
    background-color: #46cfad;
}

#about .img {
    height: 300px;
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 2%;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.line {
    border-left: 1px solid #959595;
    height: 300px;
    width: 0;
    margin-top: 10%;
    margin-bottom: 10%;
}

h1 {
    color: white;
    font-size: 33px!important;
}

h2 {
    color: #757575;
    font-size: 22px!important;
}

.about-us {
    margin-top: 5%;
}

p {
    color: white;
    font-size: 14px;
    text-align: justify;
}

.second-line {
    border-left: 1px solid #959595;
    height: 300px;
    width: 0;
    margin-top: 50%;
    margin-bottom: 10%;
}

.about-us .fa {
    margin: 10px;
    color: #46cfad;
    font-weight: bold;
    background-color: white;
    font-size: 20px;
    line-height: 35px;
    margin: 0;
    float: right;
    height: 35px;
    width: 35px;
    text-align: center;
}

.about-us .fa-twitter {
    background-color: #3a8774;
}

.about-us .fa-google-plus {
    background-color: #4aa28d;
}


/* Contact */

#contact {
    background-color: #323232;
    padding: 50px 0 50px 0;
}

input[type=text] {
    width: 100%;
    margin: 5px 0 5px 5px;
    padding: 5px 0 5px 5px;
    background-color: #5b5b5b;
    color: white;
    font-weight: bold;
    border: none!important;
}

#fmail {
    width: 100%!important;
    margin: 5px 0 5px 5px;
    padding: 5px 0 5px 5px;
    background-color: #5b5b5b!important;
    color: white!important;
    font-weight: bold!important;
    border: none!important;
}

#ftext {
    padding-bottom: 150px;
}

#fsubmit {
    padding: 7px 25px 7px 25px;
    float: right;
    margin-top: 5px;
    background-color: #46cfad;
    color: white;
    border: none;
}

.contact-form {
    line-height: 30px;
    margin-bottom: 20px;
}

.contact-form i {
    color: #46cfad;
    padding: 5px 5px 5px 0;
    text-align: center;
}

.contact-info {
    color: white;
}

#contact hr {
    height: 1px;
    width: 100%;
}